<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="darkreader-lock" />
    <link rel="icon" type="image/x-icon" href="/src/img/logo_bg.svg" />
    <link rel="icon" type="image/png" sizes="192x192" href="/src/img/logo_bg.svg" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/src/img/logo_bg.svg" />
  </head>
  <body class="flex flex-col min-h-screen bg-neutral-900 text-neutral-300">
    <div class="flex items-center justify-center flex-auto">
      <div class="flex flex-col items-center justify-center">
        <p class="text-4xl opacity-0 font-sfpro font-semibold">404</p>
      </div>
    </div>
    <footer class="text-center my-4 text-neutral-500">
      <p>&copy; <a href="https://televensi.com">televensi.com</a></p>
      <p>All rights reserved.</p>
    </footer>
  </body>
  <script src="/src/js/index.ts"></script>
  <script src="/src/js/snowflakes.ts"></script>
</html>
